{% extends 'main.html'%}
{% load static %}       
{% block content %}
{% load i18n %}

<div class="container-fluid roundedpics-fogadjorokbe">
    <div class="row">
            <div class="col-lg-12 header">
              <img src={% static '/app_menhely/images/carousel1.jpg' %}>
            </div>
    </div>

</div>

<section class="backgrounded-section">
    <div class="fogadjorokbe-felirat" id="vigyelhaza">
        Vigyél Haza
    </div> 
<div class="container-fluid allatkartya">
    <div class="row">
        <div class="col allatcontainer">
            <div class="allat">
                <a href="javascript:history.back()" class="btn-allat">
                    {% trans "Vissza" %}
                </a>    
                <div class="container-fluid">
                    <div class="row no-gutters" style="overflow: visible;">
                        <div class="col-lg-4 col-md-12">
                            <a href={{ allat.allatmainimage_set.get.photo_tumb.url }} data-lightbox="mygallery">
                                <img src={{ allat.allatmainimage_set.get.photo_tumb.url }} class="allatmainimg"/>
                            </a>
                        </div>

                        <div class="col-lg-8 col-md-12 pt-md-5 pt-lg-0 tulajdonsag">
                            <div class="allatnev">{{allat.nev}}</div><br>
                            <b>Ivar:</b> 
                                 {% if 'fiu' in allat.ivar %} 
                                    <img src={% static '/app_menhely/images/icons8-male-100.png' %} class="tulajdonsagikonnagy"/>
                                {% else %}
                                    <img src={% static '/app_menhely/images/icons8-female-100.png' %} class="tulajdonsagikonnagy"/>
                                {% endif %}
                            <br>
                            <b>Életkor:</b> 
                                {% if allat.eletkor == 0 %}
                                    <1 éves <br>
                                {% else %}
                                    {{allat.eletkor}} éves <br>
                                {% endif %}
                            <b>Ivartalanítva</b>
                                {% if allat.ivartalanitva %} 
                                    <img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/null/external-check-multimedia-kiranshastry-lineal-kiranshastry.png" class="tulajdonsagikonnagy"/> igen
                                {% else %}
                                    <img src="https://img.icons8.com/external-others-iconmarket/64/null/external-cross-essential-others-iconmarket.png" class="tulajdonsagikonkicsi"/> nem
                                {% endif %}
                            <hr>
                            
                            <div class="break"></div>
                        </div>
                        <div class="row">
                            <div class="allatleiras">{{allat.leiras}}</div>
                        </div>
                    </div>
                </div>
                
                <div class="container-fluid pt-5 pb-3">
                    <div class="carousel-wrap">
                        <div class="owl-carousel owl-theme">
                          {% for picture in allatpictures %}
                              <div class="allatpicscontainer">
                                <a href={{ picture.photo_tumb.url }} data-lightbox="mygallery">
                                    <div class="wrapperconstraint-allat">
                                        <img src={{ picture.photo_tumb.url }} class="allatpics"></img>
                                    </div>
                                </a>
                              </div>
                          {% endfor %}
                        </div>
                    </div>
                </div>
            </div>    
        </div>            
    </div>
</div>
<div class="container-fluid"><div class="row" style="height:400px"></div></div>
</section>

<section class="orokbefogadas-footer">

<div class="container-fluid"><div class="row" style="height:200px"></div></div>
<div class="container orokbefogadas-feltetelek">
    <div class="row">
        <div class="col">
            <h2><center>{% trans "Mielőtt Örökbefogadnál" %}</center></h2><br>
            <p>Ha ezt az oldalt látogatod, vélhetően érdeklődsz valamelyik mentvényünk iránt. Nagyon fontosnak találjuk, hogy állataink olyan gazdára leljenek, akik családtagként tekintenek rájuk, és figyelembe veszik az állat mindenkori igényeit. Menhelyünkre gyakran nagyon rossz állapotban, sérülten, traumatizáltan érkeznek az kutyák és cicák, ezt kérlek vedd figyelembe amikor örökbefogadáson gondolkodsz. 
            </p><p>Cicákat csak benti tartásra, kutyákat pedig kinti/benti vagy benti tartásra tudunk örökbeadni. 
            </p><p>Amennyiben a kiszemelt kutya/cica még nem ivartalanított, az örökbeadás során <b>ivartalanítási kötelezettséget</b> kell vállalnia a leendő gazdinak, ezzel is megelőzvén, hogy megannyi reménytelen sorsú állat világra jöjjön. Ha komolyan érdeklődsz egyik lakónk iránt, akkor kérlek facebook messengeren vagy a kapcsolati adatoknál megadott telefonszámon keress minket. Reméljük te leszel a következő aki beleszeretsz egy nehéz sorsú menhelylakónkba.</p>
        </div>
    </div>
</div>

<div class="container-fluid pt-5">
<div class="container-fluid"><div class="row spacer-tovabbi"></div></div>
    <div class="row pt-5">
        <div class="col"><center> <h1>{% trans "TOVÁBBI GAZDIKERESŐK" %}</h1></h1></center></div>
    </div>
</div>


<div class="container-fluid">
    {% for allat in page_obj %}
    {% if forloop.counter0|divisibleby:4 %}
        <div class="container-fluid">
        <div class="row fogadjorokbe">
    {% endif %}
        <div class="col-xl-3 col-lg-6 col-md-12 container-fluid">
          <a href="allat.html?allatid={{ allat.pk }}#vigyelhaza">
            <div class="wrapperconstraint">
              <div class="wrapper">
                  <img src={{ allat.allatmainimage_set.get.photo_tumb.url }} class="img img-responsive full-width photocover photog" >
                  <div class="description">
                      {{allat.nev}}
                  </div>
              </div>
            </div>
          </a>
        </div>
    {% if forloop.counter|divisibleby:4  or forloop.last %}
        </div></div>
    {% endif %}
    {% empty %}
        <div class="row">
            <div class="col-xl-4"></div>
            <div class="col-xl-4">
                <p><h2><b><center class="notfound">{% trans "Nem található ilyen állat :(" %}</center></b></h2></p>
                <img src={% static 'app_menhely/images/saddog.jpg' %} class="sadanimal" />
            </div>
            <div class="col-xl-4"></div>
        </div>
    {% endfor %}
</div>

<div class="container-lg pt-4 pb-5">
    <div class="row">
        <div class="col-lg-12 pager">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1&allatid={{ allat.pk }}#vigyelhaza"><img src="https://img.icons8.com/ios/50/null/skip-to-start--v1.png"/></a>
                        <a href="?page={{ page_obj.previous_page_number }}&allatid={{ allat.pk }}#vigyelhaza"><img src="https://img.icons8.com/ios/50/null/rewind.png"/></a>
                    {% endif %}
                    
                    {% if page_obj.all %}
                        <span class="current">
                            {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}.
                        </span>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}&allatid={{ allat.pk }}#vigyelhaza"><img src="https://img.icons8.com/ios/50/null/fast-forward.png"/></a>
                        <a href="?page={{ page_obj.paginator.num_pages }}&allatid={{ allat.pk }}#vigyelhaza"><img src="https://img.icons8.com/ios/50/null/end--v1.png"/></a>
                    {% endif %}
                </span>
        </div>
    </div>
</div>

</section>



{% endblock content %}