{% extends 'main.html'%}
{% load static %}     
{% block content %}


<div class="container">
    <div class="col-lg-10">
        <div class="box-element product">
            <h6><strong>A verseny és a kiállítás egy helyszínen van?</strong></h6>
            <hr>
            Igen, egy helyszínen van, így a belépő megváltásával a versenyzőket is láthatod.
            <br>
            <br>
            <h6><strong>Milyen versenyek vannak?</strong></h6>
            <hr>
            Egyéni verseny, ahol 500 darabos kirakót kell kirakni.<br>
            Páros verseny, ahol 1000 darabos kirakó az áldozat<br>
            Gyermek verseny - ez nem minden alkalommal kerül megrendezésra
            <br>
            <br>
            <h6><strong>Hogy lehet rá jelentkezni?</strong></h6>
            <hr>
            A versenyre az események menüpont alatt, adott versenyre alatt található JELENTKEZÉS gomb
            segítségével tudsz jelentkezni. A rendszer automatikusan érzékeli, ha betelt a nevezők száma, ekkor még néhány embert
            felvesz várólistára.
            <br>
            <br>
        </div>
    </div>
</div>

{% endblock content %}