{% load static %}
{% block content %}
{% load i18n %}

<section class="introduction-section">
  <div class="container-fluid">
    <div class="row introduction pt-5 pb-5 justify-content-center">
        <div class="col-lg-4 pb-5 activity">
            <a href="bemutatkozas.html"><img src="https://img.icons8.com/ios/100/null/dog-house.png" class="activity-icon" /></a>
                    <p>{% trans "Menhely és Menedék" %}</p>
                    {% trans "A menhely Ágica otthonával együtt ~80 kutyának és cicának ad menedéket." %}
        </div>
        <div class="col-lg-4  pb-5 activity">
            <a href="help.html"><img src="https://img.icons8.com/cotton/64/null/dog-cone--v3.png" class="activity-icon" /></a>
                    <p>{% trans "Mentés és Orvosi Ellátás" %}</p>
                    {% trans "Célunk, hogy a nehéz helyzetbe jutott, sérült, beteg állatok is kaphassanak újabb esélyt." %}
        </div>
        <div class="col-lg-4  pb-5 activity">
            <a href="fogadjorokbe.html"><img src="https://img.icons8.com/ios/100/null/dog-walking.png" class="activity-icon"/></a>
                    <p>{% trans "Örökbeadás" %}</p>
                    {% trans "A rehabilitált, jó állapotban lévő állataink örökbefogadhatók. Nézz szét a honlapon!" %}
        </div>
    </div>
  </div>
</section>

{% endblock content %}