@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Unica One');
@import url('https://fonts.googleapis.com/css?family=Vollkorn');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* NAVBAR ITEMS */
.brand-logo{
  height:50px;
  padding-right: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}


/* NAVBAR ITEMS */
.navbar-fixed-top.scrolled {
}

.navbar .navbar-nav {
  margin:0 auto;
  padding: 0 auto;
  font-family: Unica One;
  font-size: 22px;
  width: 100%;
  justify-content: space-between;
  padding-right: 50px;
}

@media (max-width: 576px){
  .owl-carousel .prev-slide{
      left: -7px;
      visibility: hidden;
  }
  .owl-carousel .next-slide{
      right: -7px;
      visibility: hidden;
  }
  .row.fogadjorokbe{
  padding-left: 10px;
  padding-right: 10px;
  }
  .header{
    height: 200px;    
  }
  .fogadjorokbe-felirat {
    top: -32px;
    font-size: 20px;
    width: 60%;
    height: 60px;
    line-height: 60px;
  }
  .segitsleiras{
    margin-top: 40px;
  }
  .allatkartya{
    width: 95%;
    padding-top: 60px;
  }
  .allatpicscontainer img{
  height: 300px;
  object-fit: cover;
  }
  .carousel-inner{
     height: 40vw;
  }
  .custom-shape-divider-bottom-1673471490{
    display: none;
    visibility: hidden;   
  }
    .custom-shape-divider-top-1673618994{
    display: none;
    visibility: hidden;   
  }
  
  h1{
      font-size: 2rem;
  }
  .bemutatkozaskartya{
    padding: 20px;
  }
  .hirek-bemutatkozas{
      max-width: 100%;
  }
  .contacts{
      padding-bottom: 50px;
      padding-top: 50px;
  }
  .nempenzbelikep{
    margin-top: 100px;
    margin-bottom: 100px;
    height: auto;
    width: 100%;
  }
  .nempenzbeli{
    margin-top: 100px;
    margin-bottom: 100px;
  }
}





@media (min-width: 576px){
  h1{
      font-size: 3rem;
  }
  .allatkartya{
    width: 95%;
    padding-top: 100px;
  }
  .helpcards{
    width: 80%;
  }

  .segitscard{
    font-size: 14px;
  }
  .owl-carousel .prev-slide{
      left: -33px;
  }
  .owl-carousel .next-slide{
      right: -33px;
  }
  .header{
    height: 600px;    
  }

  .segitsleiras{
    margin-top: 80px;
  }
  .fogadjorokbe-felirat {
    top: -50px;
    font-size: 24px;
    width: 50%;
    height: 100px;
    line-height: 100px;
  }
  .allatpicscontainer img{
  height: 300px;
  object-fit: cover;
  }
  .hirlista{
    max-width: 85%;
  }
  .bemutatkozaskartya{
    padding: 30px;
  }
  .hirek-bemutatkozas{
      max-width: 85%;
  }
  .contacts{
      padding-bottom: 50px;
      padding-top: 50px;
  }
  .nempenzbelikep{
    margin-top: 100px;
    margin-bottom: 100px;
    height: auto;
    width: 100%;
  }
  .nempenzbeli{
    margin-top: 100px;
    margin-bottom: 100px;
  }
}


@media (min-width: 768px) {
  header .navbar-default {
    padding: 20px;
  }
  .intro-gap{
      height: 50px;
  }
  .navbar-brand {
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  
  .row.fogadjorokbe{
  padding-left: 100px;
  padding-right: 100px;
  }
  
  .hirlista{
    max-width: 65%;
  }
  .owl-carousel .prev-slide{
      left: -33px;
  }
  .owl-carousel .next-slide{
      right: -33px;
  }
  .fogadjorokbe-felirat {
    top: -50px;
    font-size: 24px;
    width: 50%;
  }
  .carousel-inner{
     height: 40vw;
  }
  .bemutatkozaskartya{
        padding: 100px;
  }
  .contacts{
      padding-bottom: 0;
      padding-top: 0;
  }
}

@media (min-width: 992px) {
  .allatkartya{
    width: 80%;
  }
  .helpcards{
    width: 80%;
  }  
  .allatpicscontainer img{
  height: 350px;
  object-fit: cover;
  }
  .segitscard{
    font-size: 17px;
  }
  .owl-carousel .prev-slide{
      left: -33px;
  }
  .owl-carousel .next-slide{
      right: -33px;
  }
  .hirlista{
    max-width: 50%;
  }
  .segitsleiras p{
    max-width: 70%;
  }
}
@media (min-width: 1200px) {
  .hirlista{
    max-width: 100%;
  }
  .nempenzbelikep{
    height: 600px;
    width: auto;
  }
  .bemutat{
    padding-right: 50px;
  }

}

@media (min-width: 1400px) {
  
  .hirlista{
    max-width: 90%;
  }
}

@media (min-width: 1600px) {
  
  .hirlista{
    max-width: 80%;
  }
}

@media (max-width: 1400px) {
  .allatcontainer{
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }

}

.navbar .navbar-collapse {
  text-align: left;
}


.dropdown-item:hover, .dropdown-item:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(245, 158, 46, 0.781);
}

.dropdown-menu {
  border: 0px;
}


/*SCROLL LOCKED RESPONSIVE CLASSES*/
.nav-colored {
  background-color: white;
  opacity: 0.9;
}

.nav-transparent { background-color:transparent;}

ul.navbar-nav>li.nav-item>a.nav-link.custom{
    color: gray !important;
    display: inline-block;
}

ul.navbar-nav>li.nav-item>a:active{
    color: orange !important;
}

ul.navbar-nav>li.nav-item{
  transition: 0.3s linear;
}

ul.navbar-nav>li.nav-item:hover{
  transform: scale(1.1);
}

/* OVERWRITE BASIC ELEMENTS */
h1{
  font-family: 'Rubik Distressed', cursive;
  text-transform: uppercase;
  margin: 10px auto;
  text-align: center;
  color: black;
  position: relative;
}

h2{
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 28px;
}


img {
  max-width: 100%;
  padding: 0;
  margin: 0;
}


/* BACKGROUND */
.backgrounded-section{
  position: relative;
  z-index: 0;
  background: url("/static/app_menhely/images/vecteezy_clipart-bone-stick-dog-bone-stick-vector-bone_.jpg");
  background-size: 450px;
  background-color: rgba(255,255,255,0.5);
  background-blend-mode: lighten;
}

.backgrounded-section:before {
  position: absolute;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  background-color: #fff;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.backgrounded-section:after {
  position: absolute;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  background-color: #fff;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));
}

/* INTRODUCTION - HIREK */
.hirek-bemutatkozas{
  border-radius: 10px;
  font-size: 18px;
  padding: 16px;
  text-align: justify;
  color: #69786e;
  justify-content: center;
  line-height: 150%;
  font-family: Open Sans,sans-serif;
  background-blend-mode: lighten;
  /* line-height: 1.5; */
}

.bemutatkozaskartya{
    background: #e6d8b8;
    border-radius: 50px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.07);
  box-shadow:hsl(20, 00%, 40%) 0 0 40px;
}

.bemutat{
  color: #403e3e;
}
.hirek-bemutatkozas h2{
  font-size: 30px;
  font-weight: 900;
  color: #403e3e;
}

.introduction-section{
  background: #e6d8b8;
}

.bemutat1{
  border-radius: 40px;
  width:80%;
  height: auto;
  object-fit: cover;
  transform: translateY(-40px) translateX(8vw);
  box-shadow:hsl(40, 20%, 10%) 0 0 20px;
}

.introduction{
  min-height: 600px;
  padding-left: 6vw; 
  padding-right: 6vw;
}

.bemutatkozas{
    font-family: 'Vollkorn';
    font-size: 20px;
    font-weight: 200;
}

.activity{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-align: center;
  padding-left: 3vw;
  padding-right: 3vw;
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 20px;
  color: #5c5e5c;
}

.activity p{
  padding-top: 1vw;
  font-size: 24px;
  font-family: Unica One;
  color: black;
}

.activity:hover .activity-icon{
  transform:scale(1.1);
  opacity: 0.5;
}

.activity-icon{
  height: 100px;
  padding-top: 30px;
  margin: auto;
  -moz-transition: all 0.8s ease-out;  /* FF4+ */
  -o-transition: all 0.8s ease-out;  /* Opera 10.5+ */
  -webkit-transition: all 0.8s ease-out;  /* Saf3.2+, Chrome */
  -ms-transition: all 0.8s ease-out;  /* IE10? */
  transition: all 0.8s ease-out;
}


.btn {
  position: absolute !important;
  right: 30px;
  bottom: -30px;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.07);
  background: #fff;
  padding: 17px 17px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  transition-property: all;
  -webkit-transition-property: background, color;
  transition-property: background, color;
  display: inline-block;
  font-size: 20px;
  color: #000;
  letter-spacing: 0.0001vw;
}
  
.btn::after {
  background: url("https://img.icons8.com/ios/50/null/forward--v1.png") no-repeat center center;
  margin-left: 0px;
  display: inline-block;
  content: '';
  width: 23px;
  height: 20px;
  vertical-align: -3px;
}

.btn:hover{
    color: #fff;
    background: #691687;
}

.btn-allat {
  position: absolute !important;
  right: 100px;
  bottom: -40px;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.07);
  box-shadow:hsl(40, 20%, 50%) 0 0 20px;
  background: #d4d1cb;
  padding: 10px 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  transition-property: all;
  -webkit-transition-property: background, color;
  transition-property: background, color;
  display: inline-block;
  font-size: 20px;
  color: #000;
  letter-spacing: 0.0001vw;
  transition: all 0.3s ease-out;
}
  
.btn-allat::before {
  background: url("https://img.icons8.com/external-kmg-design-outline-color-kmg-design/32/null/external-backward-arrow-kmg-design-outline-color-kmg-design.png") no-repeat center center;
  margin-left: 0px;
  display: inline-block;
  content: '';
  width: 40px;
  height: 40px;
  vertical-align: -12px;
}

.btn-allat:hover{
  color: #fff;
  background: #691687;
  transform:scale(1.01);
}

.roundedpics-fogadjorokbe{
  position: relative;
  overflow: visible;
}

.header{
  padding-left: 0;
  padding-right: 0;
  position: relative;
  border-radius:  0 0 20vw 7vw ;
  overflow: hidden;
  display: flex;
}

.header img{
  object-fit: cover;
  width:100%;
  height:auto;
}


.fogadjorokbe-felirat {
  position: absolute !important;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.07);
  box-shadow:hsl(40, 20%, 50%) 0 0 20px;
  background: #d4d1cb;
  font-family: 'Rubik Distressed', cursive;
  vertical-align: middle;
  color: #000;
  text-align: center;

}

.segitscont{
  height:100px;
  position: absolute;
}

/* ANIMAL OWN SITE */
.allatmainimg{
  border-radius: 1vw;
  transition: transform 0.5s ease;
}

.allatcontainer img{
  margin-left: auto;
  margin-right: auto;
}
  
.allatnev{
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  position:relative;
  padding-bottom: 10px;
}

.row.allat{
  margin-left:0;
  padding-right:0;
}

.allatleiras{
  text-align: justify;
  margin-left: 20px;
}

.allatadat{
  font-size: 1rem;
  font-family: 'Vollkorn';
  color: #991515f3;
}

.allat{
  margin-right:auto;
  margin-left:auto;
  background: #e6d8b8;
  opacity: 90%;
  padding:2.5vw 5vw 2.5vw 5vw;
  border-radius: 2vw;
  box-shadow: 1vw 1vw #e6d8b8af;
  position: relative;
}

.allat container-fluid{
  padding-left: 5vw;
}



.wrapperconstraint-allat{
  overflow:hidden;
  margin-top: 3px;
}

.allatpics{
  transition: transform 0.5s ease;
}

.allatpics:hover{
  transform: rotate(1deg) scale(1.01);
}

.allatmainimg:hover{
  transform: rotate(1deg) scale(1.01);
}

.orokbefogadas-footer{
  background-color: #e6d8b8;
  position: relative;
}

.orokbefogadas-feltetelek{
  position: absolute !important;
  left: 50%;
  height: 500px;
  transform: translateX(-50%);
  top: -250px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.07);
  box-shadow:hsl(20, 00%, 20%) 0 0 20px;
  background: #d4d1cb;
  padding: 2vw 4vw;
  line-height: 2;
  font-family: Open Sans,sans-serif;
  display: inline-block;
  color: #000;
  text-align: justify;
}

/* NEWS */
.newspic{
  height: 300px;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  transition: transform 1s ease;
}

.cover{
  object-fit: cover;
  width:100%;
  height:auto;
}

.newspic:hover{
  transform: scale(1.1);
  transform: rotate(2deg) scale(1.1);
}

.news{
  padding: 20px;
}

.box-element{
  box-shadow:hsl(40, 20%, 50%) 0 0 50px;
  background-color: #dee2e3;
  color: #464747;
  border-radius: 1px;
  height: 600px;
  padding-left: 0;
  font-size: 14px;
  justify-content: center;
  border-radius: 20px;
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  position:relative;
}

.datum{
  font-size: 14px;
  text-align: right;
  margin-right:30px;
  font-family: 'Baloo Thambi 2', cursive;
}
.box-element a:hover, a:visited, a:link, a:active{
  text-decoration: none;
}

.hirdescription{
  text-align: justify;
  line-height: 150%;
  font-family: Open Sans,sans-serif;
  padding-left: 5vw;
}

.hirnev{
  font-family: 'Rubik Distressed', cursive;
  font-size: 2rem;
  text-shadow: 3px 3px black;
  color: grey;
  text-align: center;
  text-transform: uppercase;
  transition: transform 0.5s ease;
}

.hirlista{
  position: relative;   
}

.hirelem{
  /* padding-left:10px; */
  /* padding-right: 10px; */
  /* position: relative; */
}

.hirtartalom{
  font-family: 'Lato', sans-serif;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  font-size: 17px;
}

/* INTRODUCTION SITE */
.tortenet{
  border-radius: 10px;
  font-size: 17px;
  padding: 16px;
  text-align: justify;
  color: #69786e;
  justify-content: center;
  line-height: 150%;
  font-family: Open Sans,sans-serif;
  background-blend-mode: lighten;
}

.center {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  max-width: 100%;
}


/* GALLERY */
.gallery{
max-width: 100%;
}

.wrapperconstraint-gallery{
  overflow:hidden;
  height: 300px;
  margin-top: 3px;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom:100%;
  transition: transform 1s ease;
}

.wrapper img{
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  object-fit: cover;
  transition: transform 0.5s ease;
}

.owl-theme-option{
  box-shadow:hsl(0, 50%, 10%) 0 0 40px;
  opacity: 1;
  background-blend-mode: lighten;
}

.owloption{
  padding-left: 10px;
  padding-right:10px;
  padding-top:10px;
}

.owl-theme .owl-nav{
  margin-top: -10px !important;
}
.description {
  position: absolute;
  background-color: rgba(230, 230, 230, 0.9);
  height: 150px;
  width: 100%;
  bottom: -160px;
  left: 0;
  text-align: center;
  padding-top: 10px;
  transform: translateY(-90px);
  transition: transform 0.5s ease;
  font-family: Unica One;
  color: hsl(0,0%, 10%);
  font-size: 30px;
}

.wrapper:hover .description {
  transform: translateY(0);
}

.wrapper:hover{
  transform: scale(1.1);
}

.wrapperconstraint{
  overflow:hidden;
  width: 100%;
  padding-top: 3vw;
}

.row.fogadjorokbe{
  animation: 1.5s ease-out 0s 1 slideInFromLeft;
}

.animalfilter{
  text-align: center;
  padding: 20px;
  opacity: 70%;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.07);
  box-shadow:hsl(40, 20%, 50%) 0 0 50px;
  border-radius:   0 7vw 0  7vw ;
}

.filterfield{
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 17px;
}

.filterfield select{
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 12px;
}

.form-submit-button {
  border-radius: 12px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.07);
  background: #fff;
  padding: 5px 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  font-size: 18px;
  color: #000;
  letter-spacing: 0.0001vw;
}

.form-submit-button:hover{
  color: #fff;
  background: #691687;
  transform: scale(1.05);
}

.nopadding {
  padding-right: 0.1vw !important;
  padding-left: 0.1vw !important;
  margin: 0 !important;
}

.ongray
 {
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
  transition: 0.3s linear;
}

.ongray:hover {
transform: scale(1.05);
}

.photog{
opacity:0.8;
}

.map-container{
  
  position:relative;
  height:300px;
}
.map-container iframe{
  left:0;
  top:0;
  height: 300px;
  width:100%;
  position:absolute;
}

.step-links{
text-align: center;
}

.step-links img{
  height: 25px;
  opacity: 0.7;
  transition: 0.3s linear;
}

.step-links img:hover{
  opacity: 1;
  transform: scale(1.05);
}
.pager{
font-size: 20px;
font-family: Unica One;
font-size: 24px;
text-align: center;
}

.tulajdonsag{
font-family: Vollkorn;
font-size: 1rem;
margin-left: 20px;
margin-top: -50px;
margin-bottom: 0px;
}

.segitsfelirat{
  padding-bottom: 2vw;
  padding-top: 4vw;
}

.segits{
  padding-bottom: 10vw;
}

.segitsleiras{
  text-align: center;
  font-size: 17px;
  padding: 40px;
  text-align: justify;
  color: #5c5e5c;
  justify-content: center;
  line-height: 150%;
  font-family: Open Sans,sans-serif;
  background-blend-mode: lighten;
}

.segitsleiras h2{
  font-size:33px;
  font-weight: 800;
}


.segitscard{
  height: 450px;
  border-radius: 10px;
  background-color: #f5f2f2;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  padding-top: 70px;
  padding-left: 10px;
  padding-right: 10px;
  color: #5c5e5c;
  transition: 0.3s linear;
  box-shadow:hsl(40, 00%, 70%) 0 0 25px;
}

.segitscard:hover{
  background-color: #424242;
  color: #f5f2f2;
}

.segitscard img{
  padding-bottom: 20px;
  opacity: 80%;
  transition: 0.3s linear;
  height: 80px;
  width: auto !important;
  margin-left: auto;
  margin-right: auto;
}

.segitscard:hover img{
   filter: invert(1);
   transform: scale(1.1);
}

.segitscard-button {
  border-radius: 12px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
  background: #e6d8b8;
  border: none;
  padding: 5px 20px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  font-size: 17px;
  color: #000;
}

.segitscard-button:hover{
  color: #fff;
  background: #691687;
  transform: scale(1.05);
}

.onkentes{
    min-height: 1000px;
    /* padding-top: 300px; */
    /* padding-bottom: auto;    */
}

.nempenzbeli{
    height: 800px;
    width: 100%;
    border-radius: 50px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.07);
    box-shadow:hsl(20, 00%, 20%) 0 0 40px;
    background: #d4d1cb;
    font-family: 'Baloo Thambi 2';
    font-size: 17px;
    line-height: 2;
    display: inline-block;
    padding: 100px;
    padding-right: 300px;
    color: #000;
    text-align: justify; 
}

.nempenzbeli h2{
  font-size: 32px;
  font-weight: 900;
}

.nempenzbelikep{
  /* position: absolute; */
  margin-top: 200px;
  /* margin-bottom: auto; */
  width: auto;
  object-fit: cover;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.07);
  box-shadow:hsl(20, 00%, 20%) 0 0 20px;
}

.tulajdonsagikonnagy{
  height:35px;
}

.tulajdonsagikonkicsi{
  height:25px;
}

/* FOOTER */
.footerimage{
  display: flex;
  justify-content: center;
}

.footerimage img{
    height: 200px;
}

.footer{
  background: #3d3d3d;
}

.contacts{
  text-align: center;
  color: #dedede;
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 17px;
  margin-top: auto;
  margin-bottom: auto;
}

.contacts img{
  height: 25px;
  filter: invert(1);
}

.socicon{
  transition: 0.1s linear;
  transform:scale(1.2);
  -webkit-backface-visibility: hidden;
  color: #969595;
}

.socicon:hover{
  transform:scale(1.6);
}


/* CAROUSEL DIVIDER */
.custom-shape-divider-bottom-1673471490 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1673471490 svg {
    position: relative;
    display: block;
    width: calc(142% + 1.3px);
    height: 98px;
}

.custom-shape-divider-bottom-1673471490 .shape-fill {
    fill: #FFFFFF;
}


.custom-shape-divider-top-1673618994 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1673618994 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 41px;
}

.custom-shape-divider-top-1673618994 .shape-fill {
    fill: #FFFFFF;
}

/* OWL EXTRA */

.carousel-wrap {
  position: relative;
}


.owl-carousel .owl-nav{
  overflow: hidden;
}

.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
    background: #2caae1;
}


.owl-carousel .nav-btn{
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 43% !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled{
  pointer-events: none;
  opacity: 0.2;
}

.owl-carousel .prev-slide{
    background: url("https://img.icons8.com/ios/50/null/back--v1.png") no-repeat scroll -10px 0px;
}
.owl-carousel .next-slide{
    background: url("https://img.icons8.com/ios/50/null/forward--v1.png") no-repeat scroll -10px 0px;
}
.owl-carousel .prev-slide:hover{
  opacity: 0.5;
}
.owl-carousel .next-slide:hover{
  opacity: 0.5;
}

span.img-text {
  text-decoration: none;
  outline: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  cursor: pointer;
  width: 100%;
  font-size: 23px;
  display: block;
  text-transform: capitalize;
}
span.img-text:hover {
  color: #2caae1;
}
  
/* VIDEO WRAPPER*/
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

.paypal{
  margin-left: 0px;
}

.paypalimg{
    transition: 0.3s linear;
}

.paypalimg:hover{
  transform: scale(1.1);
  filter: contrast(50%);
}

.languages{
  min-width: 170px;
}

.languages img{
  height: 30px;
  width:30px;
  transition: 0.1s linear;
  opacity: 0.7;
}

.languages a{
  padding: 5px;
}

.languages img:hover{
 transform: scale(1.3);
 opacity: 1;
}


.rejts{
display: none;
visibility: hidden;   
}


/* DEBUG PRINT */
/* * { */
  /* outline: 1px solid red; */
/* } */
